.background__image__dark {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 300px;
    background: url(/assets/bg-desktop-dark.jpg) center center/cover no-repeat;
    z-index: -1;
}
.background__image__light {
    @extend .background__image__dark;
    background: url(/assets/bg-desktop-light.jpg) center center/cover no-repeat;
}

header {
    height: fit-content;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items:center;
    h1 {
        color: var(--white);
        letter-spacing: 7px;
        font-size: 36px;
        font-weight: 700;
    }
    img {
        cursor: pointer;
    }
}
